/* Container for the inventory grid layout */
#inventory-container {
    padding: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns layout */
    gap: 20px; /* Space between items */
    justify-content: center;
    margin-bottom: 100px;
    overflow-y: auto;
}

/* Title spanning all columns */
#inventory-title {
    grid-column: span 3; /* Make the title span all 3 columns */
    text-align: center;
    font-size: 2em; /* Adjust as needed */
}

/* Inventory list styling */
#inventory-list {
    grid-column: span 3; /* Make the inventory list span all 3 columns */
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid; /* Apply grid layout to the list */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid layout */
    gap: 20px; /* Space between items */
    width: 100%; /* Ensure the list takes full width of the container */
}

/* Inventory item styling */
.inventory-item {
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0; /* Remove bottom margin to align items in rows */
    background-color: #fff; /* Ensure a background color */
}

/* Image styling */
.item-image {
    width: 60px; /* Adjust as needed */
    height: 60px; /* Adjust as needed */
    object-fit: cover;
    margin-right: 10px; /* Space between image and text */
}

/* Text styling */
.item-text {
    flex: 1; /* Takes up remaining space */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Button container styling */
.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Open button styling */
.open-button {
    margin-top: 10px;
    background-color: #333333;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
}

/* Pagination controls styling */
#pagination-controls {
    grid-column: span 3; /* Make the pagination span all columns */
    text-align: center;
}

#pagination-controls button {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border: none; /* Remove default border */
    background-color: #333333; /* Button background color */
    color: #fff; /* Button text color */
    border-radius: 4px; /* Rounded corners */
}


/* Border styles for different types */
.border-normal-chest {
    border: 3px solid grey; /* Grey */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.border-magic-chest {
    border: 3px solid #1E90FF; /* Dodger Blue */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.border-rare-chest {
    border: 3px solid #FFD700; /* Gold */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.border-epic-chest {
    border: 3px solid #8A2BE2; /* Blue Violet */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.border-unique-chest {
    border: 3px solid #32CD32; /* Lime Green */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.border-legendary-chest {
    border: 3px solid #FF4500; /* Orange Red */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
