#inventory-container {
    padding: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 20px; /* Space between items */
    justify-content: center;
    margin-bottom: 100px;
    overflow-y: auto;
}

#inventory-title {
    grid-column: span 3; /* Make the title span all 3 columns */
    text-align: center;
    font-size: 2em; /* Adjust as needed */
    margin-bottom: 0px; /* Space between title and grid */
}

#inventory-list {
    grid-column: span 3; /* Make the title span all 3 columns */
    list-style: none;
    padding: 0;
    margin: 0;
}

.inventory-item {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.inventory-item:last-child {
}

#pagination-controls {
    grid-column: span 3; /* Make the title span all 3 columns */
    text-align: center;
    margin-top: 20px;
}

#pagination-controls button {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

.border-chest {
    border: 2px solid grey; /* Grey border for normal chests */
    padding: 10px;
}

.border-rare-chest {
    border: 2px solid gold; /* Gold border for rare chests */
    padding: 10px;
}

.border-epic-chest {
    border: 2px solid purple; /* Purple border for epic chests */
    padding: 10px;
}