body {
    background-color: white;
    color: black;
    font: 12px/18px "Comic Sans MS", "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    touch-action: none; /* Prevent default touch actions */
    overflow: hidden; /* Prevent scrolling */
}

main {
    flex-grow: 1;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%; /* Make sure main section takes full width */
}

main.active {
    display: flex; /* Only display the active tab */
}

#header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    box-sizing: border-box;
}

#coins-container, #level-container {
    display: flex;
    align-items: center;
}

#coins-icon, #level-icon {
    margin-right: 8px;
}

.coins-value {
    font-weight: bold;
}

#level-value {
    font-weight: bold;
}

#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: relative;
}

#clickable-image {
    border: none;
    background: none;
    padding: 0;
}

#clickable-image img.clicked {
    transform: scale(1.1); /* Scale up effect */
    transition: transform 0.3s ease; /* Smooth transition */
}


footer {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.tab {
    cursor: pointer;
    flex: 1;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.tab img {
    width: 32px;
    border: none;
}

.tab span {
    display: block;
}

.active-tab {
    background-color: black;
    border-radius: 5px;
    color: white;
}

#energy-bar-container {
    position: absolute;
    text-align: center;
    bottom: 70px; /* Adjust to be above the footer */
    width: 80%;
    padding: 0 20px; /* Add some padding if needed */
    box-sizing: border-box;
}

#energy-bar {
    width: 100%;
    background-color: red;
    height: 24px;
    border-radius: 12px; /* Apply rounded corners */
    overflow: hidden; /* Ensure the inner fill respects the border radius */
}

#energy-fill {
    width: 100%;
    height: 100%;
    background-color: green; /* Color for the fill */
    border-radius: 12px; /* Apply rounded corners to the fill as well */

}

#energy-value-container {
    margin-top: 8px;
    font-weight: bold;
}

#energy-emoji{

}