body {
    background-color: white;
    color: black;
    font: 12px/18px "Comic Sans MS", "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    touch-action: none; /* Prevent default touch actions */
    overflow: hidden; /* Prevent scrolling */
}

main {
    flex-grow: 1;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

main.active {
    display: flex; /* Only display the active tab */
}

#energy-bar-container {
    position: absolute;
    text-align: center;
    bottom: 100px; /* Adjust to be above the footer */
    width: 80%;
    padding: 0 20px; /* Add some padding if needed */
    box-sizing: border-box;
}

#energy-bar {
    width: 100%;
    background-color: red;
    height: 24px;
    border-radius: 8px; /* Apply rounded corners */
    overflow: hidden; /* Ensure the inner fill respects the border radius */
}

#energy-fill {
    width: 100%;
    height: 100%;
    background-color: green; /* Color for the fill */
    border-radius: 8px; /* Apply rounded corners to the fill as well */

}

#energy-value-container {
    margin-top: 8px;
    font-weight: bold;
}

#header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    box-sizing: border-box;
}

#coins-container, #level-container {
    display: flex;
    align-items: center;
}

#coins-icon, #level-icon {
    margin-right: 8px;
}

.coins-value {
    font-weight: bold;
}

#level-value {
    font-weight: bold;
}

#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: relative;
}

#clickable-coin {
    border: none;
    background: none;
    padding: 0;
}

#clickable-coin img.clicked {
    transform: scale(1.1); /* Scale up effect */
    transition: transform 0.3s ease; /* Smooth transition */
}

.feedback {
    position: absolute;
    font-size: 3rem; /* Adjust size as needed */
    color: black; /* Change color to match your design */
    pointer-events: none; /* Prevent interaction */
    transition: opacity 0.6s ease-out; /* Optional for smoother fading */
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.tab {
    cursor: pointer;
    flex: 1;
    text-align: center;
    padding: 10px;
    margin: 0px 10px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.tab img {
    width: 32px;
    border: none;
}

.tab span {
    font-size: 12px;
    display: block;
}

.active-tab {
    background-color: black;
    border-radius: 5px;
    color: white;
}

#tab2 {
    display: none; /* Initially hidden */
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

#tab2.active {
    display: flex; /* Display when active */
}

#shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.shop-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 150px;
}

.shop-item:hover {
    transform: translateY(-5px);
}

.shop-item img {
    width: 120px;
    height: auto;
    padding: 20px;
}

.shop-item button {
    padding: 10px;
    width: 100%;
    font-weight: bold;
    border-style: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
}

.shop-item button:hover {
    background-color: green;
}

#item-description{
    padding: 10px;
    width: 80%;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
}